*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: background-color .5s ease-in-out;
}
.btncontainer button {
  margin: 10px;
}
.mb-3 , h1{
  margin: 10px;
}
h1{
  margin-left: 0px;
}
.alert-1{
  width: fit-content;
  position: absolute;
  left: 50%;
  top:62px;
  transform: translateX(-50%);
  /* opacity: 0.5; */
}
a{
  margin: 0px 4px;
  /* color: black; */
  text-decoration: none;
}
button:active{
  scale: 0.9;
  transition: scale 0.5s ease-in-out;
}
@media screen and (max-width : 768px) {
  .alert-1{
  position: inherit;
  margin: auto;
  transform: translateX(0);  
  }
}